@font-face {
   font-family: 'Vazirmatn-Light';
   font-display: swap;
   src: url('file:///C:/Users/Mahan/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-14_184545/fonts/Vazirmatn-Light/font.woff2');
}
